body{
    background-color: #efefef;
}

.main{
    margin: 30px;
    background-color: white;
}

.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.media-object{
    width: 38px;
    height: 38px;
/*    border-radius: 38px;*/
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.profile-nav{
    margin-top: 15px;
}
.community-menu{
    color:#999;
    font-size: 14px;
}
.menu{
    color: #999;
    margin-top: 5px;
}
.menu .icon{
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;

}
.menu .active{
    color: #2aabd2;

}
.comments{
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}
.menu .icon:hover{
    color: #2aabd2;
}
.sub-comments{
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
    margin-bottom: 15px;
}