<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${sectionName}"></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/js/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
</head>
<body>
<div th:replace="navigation::navbar"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span th:text="${sectionName}"></span></h2>
            <hr/>
            <div class="media" th:each="question:${questionPageInfo.list}">
                <div class="media-left">
                    <a href="#">
                        <!--<img th:src="${question.user.avatarUrl}" class="media-object img-rounded">-->
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" th:text="${question.title}"></h4>
                    <span class="text-desc">
                        <span th:text="${question.commentCount}"></span> 个评论 •
                        <span th:text="${question.viewCount}"></span> 次浏览 •
                        <span th:text="${#dates.format(question.gmtCreate, 'yyyy/MM/dd HH:mm:ss')}"></span>
                    </span>
                </div>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${questionPageInfo.hasPreviousPage}">
                        <a th:href="@{'/profile/'+${section}(page=${questionPageInfo.getPrePage()})}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{'/profile/'+${section}(page=1)}" aria-label="Previous">
                            <span aria-hidden="true">首页</span>
                        </a>
                    </li>

                    <li th:each="page:${questionPageInfo.getNavigatepageNums()}" th:class="${questionPageInfo.getPageNum()==page}?'active':''"><a th:href="@{'/profile/'+${section}(page=${page})}">[[${page}]]</a></li>

                    <li>
                        <a th:href="@{'/profile/'+${section}(page=${questionPageInfo.getPages()})}" aria-label="Previous">
                            <span aria-hidden="true">尾页</span>
                        </a>
                    </li>
                    <li th:if="${questionPageInfo.hasNextPage}">
                        <a th:href="@{'/profile/'+${section}(page=${questionPageInfo.getNextPage()})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="list-group profile-nav" >
                <a href="/profile/questions" class="list-group-item" th:classappend="${section}=='questions'?'active':''">我的问题</a>
                <a href="/profile/replies" class="list-group-item" th:classappend="${section}=='replies'?'active':''">
                    最新回复
                    <span class="badge">14</span>
                </a>
            </div>
        </div>

    </div>
</div>
</body>
</html>